<nav style="background-color: black; height: 100px; width: 100vw;">
    <a href="" style="color: white;">HOME</a>
    <a href="" style="color: white;">Contact us</a>
    <a href="" style="color: white;">Help</a>
</nav>